@import "../node_modules/@netlify/netlify-marketing-tokens/dist/css/global.css";
@import "reset.css";
@import "variables.css";
@import "font.css";
@import "layout.css";
@import "typography.css";
@import "buttons.css";

::selection {
  background-color: var(--teal-200);
  color: var(--page-color);
}

html {
  background: #fff;
}

body {
  font-family: var(--font-primary);
  background: linear-gradient(180deg, var(--gradient-main));
}

header,
main {
  background: linear-gradient(#00000010 0.5px, transparent 0.5px), linear-gradient(90deg, #00000010 0.5px, transparent 0.5px);
  background-size: var(--grid-line-size) var(--grid-line-size);  
}



header nav img {
  height: var(--step-5);
}

hr {
  border-style: none;
  border-top: solid 0.5px #ffffff22;
  margin:1em;
}

a:link,
a:visited {
  color: #fff;
  text-decoration: underline;
  text-decoration-color: #ffffff55;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.2em;
  transition: all 300ms;
}
a:hover,
a:focus {
 text-decoration-color: cyan;
 text-underline-offset: 0.3em;
 transition: all 100ms;
}

footer {
  & a:link,
  & a:visited {
    color: #000;
    text-decoration-color: #00000055;
  }
  & a:hover,
  & a:focus {
  text-decoration-color: cyan;
  }
}
